{% extends 'base.html' %}

{% block title %}Add site{% endblock %}

{% block content %}
<h1 class="heading">Collectors</h1>
<table class="table">
    <thead>
    <tr>
      <th scope="col">Collector Name</th>
      <th scope="col">Status</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
    {% for collector in collectors %}
    <tr>
        <td>{{ collector.code }}</td>
        <td>{{ collector.active|yesno:"ACTIVE,INACTIVE" }}</td>
        <td>
            <form method="POST" action="{% url 'collector_toggle' %}">
                {% csrf_token %}
                <input type="hidden" value="{{ collector.id }}" name="id" />
                <button type="submit" class="btn btn-outline-{{ collector.active|yesno:"danger,success" }}">{{ collector.active|yesno:"disable,enable" }}</button>
            </form>
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}