{% extends 'base.html' %}

{% block title %}Add site{% endblock %}

{% block content %}
<h1 class="heading">Add site</h1>
<form method="post">
    {% csrf_token %}
    <div class="form-group">
        <label for="id_domain">Add site</label>
        {{ form.domain }}
        {{ form.domain.errors }}
    </div>
    <button type="submit" class="btn btn-primary mt-3">Add & Collect</button>
</form>
{% endblock %}