<!DOCTYPE html>
<html lang="en" class="h-100">
<head>
    <link rel="stylesheet" href="style.css">
    <title>{% block title %}Change it please!{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</head>

<body class="h-100">
    <div class="d-flex flex-row m-4 h-100">
        {% if user.is_authenticated %}
        <aside class="px-4">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link active" href="{% url 'dashboard' %}">Add site</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'contacts' %}">All Contacts</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'collectors' %}">Collectors</a>
                </li>
                <li>
                    <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                </li>
            </ul>
        </aside>
        <div class="border border-primary h-75"></div>
        {% endif %}
        <main class="container" id="content">
            {% if messages %}
            <ul class="list-group list-group-flush">
                {% for message in messages %}
                <li class="list-group-item">
                    <div{% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}>{{ message }}</div>
                </li>
                {% endfor %}
            </ul>
            {% endif %}
            {% block content %}{% endblock %}
        </main>
    </div>
    {% block javascript %}{% endblock %}
</body>
</html>