{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
<h1 class="heading">Login form</h1>
<form method="post">
    {% csrf_token %}
    <div class="form-group">
        <label for="username">Username</label>
        <input type="text" class="form-control" id="username" name="username" placeholder="Enter your username">
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" name="password" placeholder="Enter your password">
    </div>
    <div class="d-flex flex-row">
        <div>
            <button type="submit" class="btn btn-primary mt-3">Login</button>
        </div>
        <div class="px-4 mt-3">
            or
        </div>
        <div class="mt-3">
            <a class="btn btn-small btn-outline-info" href="{% url 'register' %}">Register</a>
        </div>
    </div>
</form>
{% endblock %}