{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
<h1 class="heading">Registration form</h1>
<form method="post">
    {% csrf_token %}
    <div class="form-group">
        <label for="id_username">Username</label>
        {{ form.username }}
        {{ form.username.errors }}
    </div>
    <div class="form-group">
        <label for="id_email">Email</label>
        {{ form.email }}
        {{ form.email.errors }}
    </div>
    <div class="form-group">
        <label for="id_password">Password</label>
        {{ form.password1 }}
        {{ form.password1.errors }}
    </div>
    <div class="form-group">
        <label for="id_password_confirm">Password Confirm</label>
        {{ form.password2 }}
        {{ form.password2.errors }}
    </div>
    <div class="d-flex flex-row">
        <div>
            <button type="submit" class="btn btn-primary mt-3">Register</button>
        </div>
        <div class="px-4 mt-3">
            or
        </div>
        <div class="mt-3">
            <a class="btn btn-small btn-outline-info" href="{% url 'login' %}">Login</a>
        </div>
    </div>
</form>
{% endblock %}