{% extends 'base.html' %}

{% block title %}Add site{% endblock %}

{% block content %}
<h1 class="heading">Contacts</h1>
<table class="table">
    <thead>
    <tr>
        <th scope="col">Site</th>
        <th scope="col">Contact Type</th>
        <th scope="col">Contact</th>
        <th scope="col">Source</th>
    </tr>
    </thead>
    <tbody>
    {% for contact in page_obj %}
        <tr>
          <td>{{ contact.site.domain }}</td>
          <td>{{ contact.type }}</td>
          <td>{{ contact.value }}</td>
          <td>{{ contact.collector.code }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<nav aria-label="Page navigation example">
  <ul class="pagination">
    {% if page_obj.has_previous %}
    <li class="page-item">
      <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a>
    </li>
    {% endif %}
    <li class="current page-item p-2">
        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
    </li>
    {% if page_obj.has_next %}
    <li class="page-item">
      <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
    </li>
    {% endif %}
  </ul>
</nav>
{% endblock %}